{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
<div class="parallax__container">
    <section class="slider">
        <div class="slide__container swiper">
            <div class="slide__content">
                <div class="card__wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image__content">
                            <span class="card__overlay"></span>
                            <div class="card__image">
                                <img src="static/images/00001.jpg" class="image">
                            </div>
                        </div>
                        <div class="card__content">
                            <h2 class="card__name">Robert Moñ</h2>
                            <p class="card__description">lorem ipsum</p>
                            <button class="card__button">poka¿ wiêcej</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image__content">
                            <span class="card__overlay"></span>
                            <div class="card__image">
                                <img src="static/images/00001.jpg" class="image">
                            </div>
                        </div>
                        <div class="card__content">
                            <h2 class="card__name">Robert Moñ</h2>
                            <p class="card__description">lorem ipsum</p>
                            <button class="card__button">poka¿ wiêcej</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image__content">
                            <span class="card__overlay"></span>
                            <div class="card__image">
                                <img src="static/images/00001.jpg" class="image">
                            </div>
                        </div>
                        <div class="card__content">
                            <h2 class="card__name">Robert Moñ</h2>
                            <p class="card__description">lorem ipsum</p>
                            <button class="card__button">poka¿ wiêcej</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image__content">
                            <span class="card__overlay"></span>
                            <div class="card__image">
                                <img src="static/images/00001.jpg" class="image">
                            </div>
                        </div>
                        <div class="card__content">
                            <h2 class="card__name">Robert Moñ</h2>
                            <p class="card__description">lorem ipsum</p>
                            <button class="card__button">poka¿ wiêcej</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image__content">
                            <span class="card__overlay"></span>
                            <div class="card__image">
                                <img src="static/images/00001.jpg" class="image">
                            </div>
                        </div>
                        <div class="card__content">
                            <h2 class="card__name">Robert Moñ</h2>
                            <p class="card__description">lorem ipsum</p>
                            <button class="card__button">poka¿ wiêcej</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
</div>
{% endblock %}