{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
<div class="parallax__container">
    <div class="bayer__container">
        <div class="bayer_social_navbar__container">
            <ul class="vertical_contact__bar_list">
                <li>
                    <a class="facebook" onclick="location.href='https://www.facebook.com/lifeRistorante/?_rdc=1&_rdr'"><ion-icon name="logo-facebook"></ion-icon></a>
                </li>
                <li>
                    <a class="instagram"><ion-icon name="logo-instagram"></ion-icon></a>
                </li>
                <li>
                    <a onclick="location.href='https://www.google.com/maps/place/Life+Restaurant+%26+Pub/@50.115177,19.7924235,17z/data=!3m1!4b1!4m6!3m5!1s0x47165868ee9918b1:0xea88bdf5575c2e30!8m2!3d50.115177!4d19.7949984!16s%2Fg%2F11b7q9dql3?entry=ttu'" class="location"><ion-icon name="location"></ion-icon></a>
                </li>
            </ul>
        </div>
        <div class="bayer_text__container">
            <h1 class="bayer__header">SprawdŸ czy dowozimy do twojej miejscowoœci...</h1>
            <p class="bayer__text">I nie zapomnij zaobserwowaæ nasz¹ stronê na instagramie!</p>
        </div>
    </div>
    <div class="scroll_recipe__container">
        <div class="bayer_text__container">
            <h1 class="bayer__header">Nasza ekipa</h1>
            <section class="slider">
                <div class="slide__container swiper">
                    <div class="slide__content">
                        <div class="card__wrapper swiper-wrapper">
                            <div class="card swiper-slide">
                                <div class="image__content">
                                    <span class="card__overlay"></span>
                                    <div class="card__image">
                                        <img src="static/images/00001.jpg" class="image">
                                    </div>
                                </div>
                                <div class="card__content">
                                    <h2 class="card__name">Robert Moñ</h2>
                                    <p class="card__description">lorem ipsum</p>
                                    <button class="card__button">poka¿ wiêcej</button>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="image__content">
                                    <span class="card__overlay"></span>
                                    <div class="card__image">
                                        <img src="static/images/00001.jpg" class="image">
                                    </div>
                                </div>
                                <div class="card__content">
                                    <h2 class="card__name">Robert Moñ</h2>
                                    <p class="card__description">lorem ipsum</p>
                                    <button class="card__button">poka¿ wiêcej</button>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="image__content">
                                    <span class="card__overlay"></span>
                                    <div class="card__image">
                                        <img src="static/images/00001.jpg" class="image">
                                    </div>
                                </div>
                                <div class="card__content">
                                    <h2 class="card__name">Robert Moñ</h2>
                                    <p class="card__description">lorem ipsum</p>
                                    <button class="card__button">poka¿ wiêcej</button>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="image__content">
                                    <span class="card__overlay"></span>
                                    <div class="card__image">
                                        <img src="static/images/00001.jpg" class="image">
                                    </div>
                                </div>
                                <div class="card__content">
                                    <h2 class="card__name">Robert Moñ</h2>
                                    <p class="card__description">lorem ipsum</p>
                                    <button class="card__button">poka¿ wiêcej</button>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="image__content">
                                    <span class="card__overlay"></span>
                                    <div class="card__image">
                                        <img src="static/images/00001.jpg" class="image">
                                    </div>
                                </div>
                                <div class="card__content">
                                    <h2 class="card__name">Robert Moñ</h2>
                                    <p class="card__description">lorem ipsum</p>
                                    <button class="card__button">poka¿ wiêcej</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>
        </div>
    </div>
    <div class="scroll_cooker__container">
        <div class="bayer_text__container">
            <h1 class="bayer__header">Kilka przpisów...</h1>
        </div>
    </div>
</div>
{% endblock %}